{% extends "base.html" %}
{% block content %}
<div class = "container-fluid" style="margin-top: 5em;">  
  <div class="row">
    <div class = "card text-center col-md-4 offset-md-4" style = "color:#48C6B1;background-color:rgb(255, 255, 255);">
        <h1>PLAGSCAN</h1>
        <p>Compose bold, clear, mistake-free writing with Grammarly’s AI-powered writing assistant, Plagscan now organizes your writing feedback by theme, so you can see how each change will help your readers better understand your message, From grammar and spelling to style and tone, Plagscan helps you eliminate errors and find the perfect words to express yourself.
        </p>
    </div>
    <div class = "card text-center col-md-4 offset-md-4" style = "color:#48C6B1;background-color:rgb(255, 255, 255);">
        <h1>About Us</h1>
        <ul>
            <br><br>
            <li><h4>Manaal Soni</h4></li>
            <li><h4>Jasti Pranay</h4></li>
            <li><h4>Vista Vincent</h4></li>
            <li><h4>Manda Sai Prabha</h4></li>
        </ul>
    </div> 
</div>  
{% endblock %}