{% extends "base.html" %} {%load static%} {%block content%}

<body>
    <div id="Banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="titl"><p>PlagScan</p></span>
                    <p>Compose bold, clear, mistake-free writing with Grammarly’s AI-powered writing assistant. From grammar and spelling to style and tone, Grammarly helps you eliminate errors and find the perfect words to express yourself.</p>
                </div>
            </div>
        </div>
    </div>

    <div style="background-image:repeating-linear-gradient(to left, rgb(248, 185, 185),rgb(188, 188, 221));height: 400px;">
        <div class="container">
            <div class="row">
              
                <div class="col-md-3 offset-md-3" style="margin-top: 150px;">

                </div>
            </div>
        </div>
    </div>


    <script src="{% static '/js/base.js'%}"></script>
</body>
{%endblock%}